#signup-CONTAINER {
    display: flex;
    flex-direction: row;
    width: 100%;

    #signup-BACKGROUND {
        width: 100%;
        height: 90vh;

        img {
            width: 100%;
            height: 100%;
        }
    }

    #signup-FORM {
        width: 100%;
        height: 90vh;
    }
}