#waitingpage_CONTAINER {
    display: flex;
    flex-direction: row;
    width: 100%;

    #waitingpage_BACKGROUND {
        width: 100%;
        height: 60vh0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    #waitingpage_DIV {
        width: 100%;
        height: 60vh;
    }
}