/* @media screen and (max-height: 1600px) { */
    #section003_SECTION {
        height: 40vh;
        min-height: 40rem;
        width: 100%;
        background-color: #ffffff00;
        margin-top: 50px;
    }
/* }

@media screen and (max-height: 840px) {
    #section003_SECTION {
        height: 40vh;
        min-height: 40rem;
        width: 100%;
        background-color: #ffffff00;
        margin-top: 50px;
    }
}

@media screen and (max-height: 720px) {
    #section003_SECTION {
        height: 40vh;
        min-height: 40rem;
        width: 100%;
        background-color: #ffffff00;
        margin-top: 50px;
    }
} */