#PropertyForLiving_DIV {
    padding-left: 8%;

    p {
        width: 600px;
    }
}
    
#contact-us {
    margin-left: 8%;
    font-family: DMSansMedium;
    font-size: 14px;
    text-decoration: underline;
}