#discover-more {
    width: 144px;
    height: 44px;
    background-color: #5398D4;
    border: 1px solid #5398D4;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}